body {
    background-color: #DAD7FC;
}

.eco {
    margin-top: 50px;
    margin-left: 400px;
    cursor: pointer;
    }
   
.introduction {
    position: absolute;
    top: 60px;
    left: 40px;
        }

.bio { 
    width: 300px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding-left: 40px;
    margin-top: -150px;
    margin-bottom: 100px;
  
 }

ul {
    list-style-type: none;
    font-family:'Poppins', sans-serif;

 }

 .footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
 }

 .connect {
    text-align: center;
    margin-top: 10px;
 }

 .here {
    color: #3F32CA;
    font-weight: bold;
    margin-bottom: 30px;
 }
 .flexContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .skill {
    width: 33%;
    margin: 0;
    padding: 0;
  }

  .workGrid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas:
      "project1 project4";
  }
  
  
  
  .project1 {
    grid-area: project3;
  }
  
  .project2 {
    grid-area: project4;
  }
  @media only screen and (max-width: 600px) {
    /* For mobile devices */
  
    /* Flex container */
    .flexContainer {
      flex-direction: column;
    }
  
    /* Flex children */
    .flexContainer > div {
      width: 100%;
    }
  
    /* Grid container */
    .workGrid {
      grid-template-areas:
        "img1 title"
        "img2 title2";
      grid-template-rows: repeat(4, auto);
      grid-template-columns: 1fr 2fr;
    }
  }
    